<h2 data-target="chart_details">.chart()</h2>
<div id="chart_details" class="details">
    <p class="description">
        <strong>Описание:</strong>
        Выводит виджет с графиком инструмента.
    </p>
</div>
