<h2 data-target="table_details">.table()</h2>
<div id="table_details" class="details">
    <p class="description">
        <strong>Описание:</strong>
        Выводит виджет с данными о ходе торгов.
    </p>

    <ul class="signatures">
        <li>
            <h4>
               .table( element, engine, market, params, options ) 
            </h4>
            <p>
                <strong>element</strong>
                DOM-element | объект jQuery | строка, содержащая селектор jQuery.
            </p>
            <p>
                <strong>engine</strong>
                Торговая система <strong><i>http://www.beta.micex.ru/iss/engines</i></strong>
            </p>
            <p>
                <strong>market</strong>
                Рынок <strong><i>http://www.beta.micex.ru/iss/engines/{engine}/markets</i></strong>
            </p>
            <p>
                <strong>params</strong>
                Список строк в формате 'boardid:secid'
            </p>
            <p>
                <strong>options</strong>
                Дополнительные параметры
            </p>
        </li>
    </ul>
                

    <div class="about">
        <h3>
            Пример кода для стилизации:
        </h3>

        <h3>
            Пример работы:
        </h3>
        
        <h4>
            Демо
        </h4>
    </div>
</div>
