<style type="text/css" media="screen">

    #container {
        font-size: 13px;
        margin: 50px auto;
        padding: 10px 0;
        width: 360px;
    }

    #container table {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 50px 0;
        width: 100%;
    }

    #container table tbody tr.security.even td {
        background-color: #eee;
    }

    #container table tbody tr.security td {
        cursor: move;
        padding: 4px;
        white-space: nowrap;
    }

    #container table tbody tr.security td.title {
        width: 50%;
    }

    #container table tbody tr.security td.time {
        text-align: right;
    }

    #container table tbody tr.security td.number {
        text-align: right;
    }

    .security-drag-helper {
        background: #ddd;
        border: 1px solid #ccc;
        cursor: move;
        padding: 4px 8px;
    }

    #container table tbody tr.chart td {
        background: #ccc;
        height: 150px;
        padding: 20px;
        position: relative;
        vertical-align: top;
    }

    #container table tbody tr.security.droppable td {
        background: #cfc;
    }

    #container table tbody tr.chart.droppable td {
        background: #cfc;
    }

</style>

<h2>table_1</h2>
<div id="table_1"></div>

<h2>table_2</h2>
<div id="table_2"></div>

<h2>table_3</h2>
<div id="table_3"></div>

<hr />

<div id="container">

  <table>
    <tbody>
    <tr class="security" data-param="MICEXINDEXCF">
      <td class="title">
        MICEX
      </td>
      <td class="time">
        10:29
      </td>
      <td class="number">
        1 562,32
      </td>
      <td class="number">
        +0,24%
      </td>
    </tr>
    <tr class="security even" data-param="RTSI">
      <td class="title">
        RTSI
      </td>
      <td class="time">
        10:29
      </td>
      <td class="number">
        1 697,42
      </td>
      <td class="number">
        +0,26%
      </td>
    </tr>
    <tr class="security" data-param="MICEXINNOV">
      <td class="title">
        MICEXINNOV
      </td>
      <td class="time">
        10:29
      </td>
      <td class="number">
        743,66
      </td>
      <td class="number">
        +0,07%
      </td>
    </tr>
    </tbody>
  </table>

  <table>
    <tbody>
    <tr class="security" data-param="SBRF">
      <td class="title">
        Сбербанк
      </td>
      <td class="time">
        10:29
      </td>
      <td class="number">
        98,41
      </td>
      <td class="number">
        -0,08%
      </td>
    </tr>
    <tr class="security even" data-param="GAZP">
      <td class="title">
        ГАЗПРОМ ао
      </td>
      <td class="time">
        10:29
      </td>
      <td class="number">
        186,40
      </td>
      <td class="number">
        +0,22%
      </td>
    </tr>
    <tr class="security" data-param="LKOH">
      <td class="title">
        ЛУКОЙЛ
      </td>
      <td class="time">
        10:29
      </td>
      <td class="number">
        1853,5
      </td>
      <td class="number">
        +0,25%
      </td>
    </tr>
    </tbody>
  </table>

</div>

<div id="chart_1" style="width: 400px;"></div>
<div id="stock_1"></div>

<script type="text/javascript" charset="utf-8">

    $(function () {

        mx.widgets.table('#table_1', 'stock', 'shares', [
            'EQBR:SBER',
            'EQNE:GAZP',
            'EQBR:LKOH',
            'EQBS:GMNK',
            'EQNL:VTBR'
        ], {
            chart:0,
            cache:true,
            refresh_timeout: 5 * 1000
        });

        mx.widgets.table('#table_2', 'stock', 'index', [
            'SNDX:RGBI',
            'SNDX:MICEXSC',
            'SNDX:MICEX10INDEX',
            'RTSE:RTSSTD',
            'RTSI:RGBI'
        ], {
            chart:1,
            refresh_timeout: 7 * 1000
        });

        mx.widgets.table('#table_3', 'stock', 'index', [
            'SNDX:RGBI',
            'SNDX:MICEXSC',
            'SNDX:MICEX10INDEX',
            'RTSE:RTSSTD',
            'RTSI:RGBI'
        ], {
            chart: false,
            refresh_timeout: 3 * 1000
        });

    });


</script>
