<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Drag</title>

        <%= javascript_include_tag "mx.widget.js" %>
        <%= javascript_include_tag "jquery-ui" %>

        <style type="text/css" media="screen">
            
            #container {
                font-size: 13px;
                margin: 50px auto;
                padding: 10px 0;
                width: 360px;
            }
            
            #container table {
                border-collapse: collapse;
                border-spacing: 0;
                margin: 50px 0;
                width: 100%;
            }
            
            #container table tbody tr.security.even td {
                background-color: #eee;
            }
            
            #container table tbody tr.security td {
                cursor: move;
                padding: 4px;
                white-space: nowrap;
            }
            
            #container table tbody tr.security td.title {
                width: 50%;
            }
            
            #container table tbody tr.security td.time {
                text-align: right;
            }
            
            #container table tbody tr.security td.number {
                text-align: right;
            }
            
            .security-drag-helper {
                background: #ddd;
                border: 1px solid #ccc;
                cursor: move;
                padding: 4px 8px;
            }
            
            #container table tbody tr.chart td {
                background: #ccc;
                height: 150px;
                padding: 20px;
                position: relative;
                vertical-align: top;
            }
            
            #container table tbody tr.security.droppable td {
                background: #cfc;
            }
            
            #container table tbody tr.chart.droppable td {
                background: #cfc;
            }
            
        </style>
    </head>
    <body>

        <div id="container">

            <table>
                <tbody>
                    <tr class="security" data-param="MICEXINDEXCF">
                        <td class="title">
                            MICEX
                        </td>
                        <td class="time">
                            10:29
                        </td>
                        <td class="number">
                            1 562,32
                        </td>
                        <td class="number">
                            +0,24%
                        </td>
                    </tr>
                    <tr class="security even" data-param="RTSI">
                        <td class="title">
                            RTSI
                        </td>
                        <td class="time">
                            10:29
                        </td>
                        <td class="number">
                            1 697,42
                        </td>
                        <td class="number">
                            +0,26%
                        </td>
                    </tr>
                    <tr class="security" data-param="MICEXINNOV">
                        <td class="title">
                            MICEXINNOV
                        </td>
                        <td class="time">
                            10:29
                        </td>
                        <td class="number">
                            743,66
                        </td>
                        <td class="number">
                            +0,07%
                        </td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr class="security" data-param="SBRF">
                        <td class="title">
                            Сбербанк
                        </td>
                        <td class="time">
                            10:29
                        </td>
                        <td class="number">
                            98,41
                        </td>
                        <td class="number">
                            -0,08%
                        </td>
                    </tr>
                    <tr class="security even" data-param="GAZP">
                        <td class="title">
                            ГАЗПРОМ ао
                        </td>
                        <td class="time">
                            10:29
                        </td>
                        <td class="number">
                            186,40
                        </td>
                        <td class="number">
                            +0,22%
                        </td>
                    </tr>
                    <tr class="security" data-param="LKOH">
                        <td class="title">
                            ЛУКОЙЛ
                        </td>
                        <td class="time">
                            10:29
                        </td>
                        <td class="number">
                            1853,5
                        </td>
                        <td class="number">
                            +0,25%
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        
        <div id="chart_1" style="width: 400px;"></div>
        <div id="stock_1"></div>
        
        <script type="text/javascript" charset="utf-8">
            
            $(function() {
                
                function show_chart_for_row(row) {
                    var chart_row = row.next('.chart');
                    if (chart_row.size() == 0) chart_row = make_chart_row(row);
                    chart_row.parent().children('.chart').not(chart_row).hide();
                    update_chart_row(chart_row, row);
                    chart_row.show();
                }
                
                function hide_chart_for_row(row) {
                    var chart_row = row.next('.chart');
                    if (chart_row.size() == 0) return;
                    chart_row.hide();
                }
                
                function toggle_chart_for_row(row) {
                    var chart_row = row.next('.chart');
                    if (chart_row.size() == 0) chart_row = make_chart_row(row);
                    chart_row.is(':visible') ? hide_chart_for_row(row) : show_chart_for_row(row);
                }

                function make_chart_row(element) {
                    var chart_row = chart_row = $('<tr>')
                        .addClass('chart')
                        .attr('data-param', element.data('param'))
                        .html(
                            $('<td>')
                                .attr('colspan', $('td', element).size())
                                .html('<span class="data"></span>')
                        )
                        .insertAfter(element)
                        .hide();
                    make_chart_row_droppable(chart_row);
                    return chart_row;
                }

                function update_chart_row(chart_row, row) {
                    console.log('update');

                    $('td span.data', chart_row).html([row.data('param'), row.attr('data-compare-param')].join('<br />'));
                    $('td span.remove').toggle(!!row.attr('data-compare-param'));


                    mx.widgets.chart($('td span.data', chart_row).width('100%'), 'stock', 'index', row.attr('data-param'), { compare: 'stock:index:' + row.attr('data-compare-param') } );
                }

                $('#container table tr.security').on("click", function(event) {
                    toggle_chart_for_row($(event.currentTarget));
                });

                $('#container table tr.security').draggable({
                    cursorAt: { left: 5, top: 5 },
                    helper: function(event) {
                        var element = $(event.currentTarget), param = element.data('param');
                        return $('<div>')
                            .addClass('security-drag-helper')
                            .html(param);
                    }
                });
                
                $('#container table tr.security').droppable({
                    hoverClass: 'droppable',
                    drop: function(event, ui) {
                        $(this).attr('data-compare-param', ui.draggable.data('param'));
                        show_chart_for_row($(this));
                    }
                });
                
                function make_chart_row_droppable(chart_row) {
                    chart_row.droppable({
                        hoverClass: 'droppable',
                        accept: function(draggable) {
                            return $(this).data('param') != draggable.data('param');
                        },
                        drop: function(event, ui) {
                            var row = $(this).prev('.security');
                            row.attr('data-compare-param', ui.draggable.data('param'));
                            show_chart_for_row(row);
                        }
                    });
                }
            
            });

            mx.widgets.chart('#chart_1', 'stock', 'index', 'MICEXINDEXCF', {
                compare: 'stock:index:RTSI',
            });

            mx.widgets.table('#stock_1', 'stock', 'shares', [
                'EQBR:SBER',
                'EQNE:GAZP',
                'EQBR:LKOH',
                'EQBS:GMNK',
                'EQNL:VTBR'
            ], {
                chart: 0,
                refresh_timeout: 5 * 1000
            });


        </script>
        
    </body>
</html>
