<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="test">
	widget should go here
</div>

<script type="text/javascript" charset="utf-8">
	
	mx.widget.table('test', {
		engine: 'stock',
		market: 'index',
		params: ['SNDX:MICEXO&G', 'SNDX:MICEXINDEXCF']
	});
	
</script>
