<div id="test_container">
    
</div>


<%- content_for :right_content do -%>

    <div class="table_container">
        <h2>Валюты</h2>
        <div id="currencies">
        </div>
    </div>
    
    <div id="currencies_chart">
    </div>

    <div class="table_container">
        <h2>Индексы</h2>
        <div id="indices">
        </div>
    </div>

    <div id="indices_chart">
    </div>

    <div class="table_container">
        <h2>Акции</h2>
        <div id="shares">
        </div>
    </div>

    <div class="table_container">
        <h2>Forts</h2>
        <div id="forts">
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        jQuery(function() {
    
        mx.widgets.table('#currencies', 'currency', 'selt', [
            'CETS:USD000UTSTOM',
            'CETS:USD000TODTOM',
            'CETS:USD000000TOD',
            'CETS:EUR000TODTOM'
        ]);

        mx.widgets.table('#indices', 'stock', 'index', [
    		'SNDX:MICEXCGS',
    		'SNDX:MICEXCHM',
    		'SNDX:MICEXFNL',
    		'SNDX:MICEXM&M',
    		'SNDX:MICEXMNF',
    		'SNDX:MICEXO&G',
    		'SNDX:MICEXPWR',
    		'SNDX:MICEXTLC'
        ]);

        mx.widgets.table('#shares', 'stock', 'shares', [
    		'EQNE:GAZP',
    		'EQBR:LKOH',
    		'EQNL:ROSN',
    		'EQBR:RTKM',
    		'EQBR:SBER03',
    		'EQNL:VTBR',
    		'EQBR:HYDR'
        ], {
            chart: 'EQNE:GAZP'
        });

        mx.widgets.table('#forts', 'futures', 'forts', [
    		'PSFU:RIZ1',
    		'PSFU:SRZ1',
    		'PSFU:GZZ',
    		'PSFU:LKOH18',
    		'PSFU:HYDR'
        ]);

        /*

        mx.widgets.chart('#currencies_chart', {
            engine: 'currency',
            market: 'selt', 
            security: 'EUR000TODTOM'
        });

        mx.widgets.chart('#indices_chart', {
            engine: 'stock', 
            market: 'index', 
            security: 'MICEXTLC'
        });
        
        */

        })
    </script>

<%- end -%>
