<div id="turnovers_1">
</div>

<h3>Параметры инструмента</h3>
<div id="description_1">
</div>

<h3>Информация об эмитенте</h3>
<div id="emitter_1">
</div>

<h3>Другие инструменты эмитента</h3>
<div id="emitter_securities_1">
</div>

<%- content_for :top_content do -%>

    <div id="security_1">
    </div>

<%- end -%>

<%- content_for :left_content do -%>

<%- end -%>


<%- content_for :right_content do -%>

    <h3>Котировки</h3>
    <div id="orderbook_1">
    </div>
    
<%- end -%>

<%- content_for :javascripts do -%>

    <script type="text/javascript" charset="utf-8">
    
        $(function() {
        
            mx.widgets.orderbook($('#orderbook_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });

            mx.widgets.description($('#description_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });
            
            mx.widgets.security($('#security_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });
            
            mx.widgets.security_emitter($('#emitter_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });
            
            mx.widgets.security_emitter_securities($('#emitter_securities_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });

            mx.widgets.turnovers($('#turnovers_1'), {
                refresh_timeout: 10 * 1000
            });
            
        });
    
    </script>

<%- end -%>
