<div id="test">
</div>

<%- content_for :top_content do -%>
<%- end -%>

<%- content_for :left_content do -%>
<%- end -%>

<%- content_for :right_content do -%>
<%- end -%>

<%- content_for :javascripts do -%>

    <script type="text/javascript" charset="utf-8">
        $(function() {

			mx.widgets.marketdata('#test', 'stock', 'index', 'SNDX', ['MICEXINDEXCF', 'RTSI:RTSI', 'MICEXO&G', 'state:index:GNDX:RGBI']);

        });
    </script>

<%- end -%>
