<div id="turnovers_1">
</div>
<!--
<h3>Параметры инструмента</h3>
<div id="description_1">
</div>

<h3>Информация об эмитенте</h3>
<div id="emitter_1">
</div>

<h3>Другие инструменты эмитента</h3>
<div id="emitter_securities_1">
</div>
-->

<%- content_for :top_content do -%>

    <div id="ticker">
    </div>

    <div id="security_1">
    </div>

    <div id="chart_1">
    </div>

<%- end -%>

<%- content_for :left_content do -%>

<%- end -%>


<%- content_for :right_content do -%>

    <!--
    <h3>Котировки</h3>
    <div id="orderbook_1">
    </div>
    -->
    
<%- end -%>

<%- content_for :javascripts do -%>

    <script type="text/javascript" charset="utf-8">
    
        $(function() {
        
            mx.widgets.ticker('#ticker', [
                'stock:index:SNDX:MICEXINDEXCF',
                'stock:index:RTSI:RTSI',
                'stock:shares:EQNE:GAZP',
                'stock:shares:EQBR:AFLT',
            	'stock:shares:EQBR:LKOH',
            	'stock:shares:EQNL:VTBR',
            	'stock:shares:EQBR:HYDR'
            ], {
                speed: 50
            });
        
            /*
        
            mx.widgets.orderbook($('#orderbook_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });

            mx.widgets.description($('#description_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });
            
            mx.widgets.security($('#security_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });
            
            mx.widgets.security_emitter($('#emitter_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });
            
            mx.widgets.security_emitter_securities($('#emitter_securities_1'), 'stock', 'shares', 'EQNE', 'GAZP', {
                refresh_timeout: 10 * 1000
            });

            mx.widgets.turnovers($('#turnovers_1'), {
                refresh_timeout: 10 * 1000
            });

            mx.widgets.security_chart($('#chart_1'), 'stock', 'shares', 'EQNE', 'GAZP');

            function l2u(milliseconds) {
                return milliseconds - (new Date(milliseconds).getTimezoneOffset() * 60 * 1000);
            }
            
            function u2l(milliseconds) {
                return milliseconds + (new Date(milliseconds).getTimezoneOffset() * 60 * 1000);
            }


            mx.cs.data('stock', 'shares', 'GAZP', {
                interval: '1',
                from: '1990-01-01'
            }).then(function(json) {
                
                var intervals = {
                    'day': 1,
                    'week': 10,
                    'month': 24,
                    'year': 24,
                    'all': 24
                };
                
                var extremes = {
                    'day':                24 * 60 * 60 * 1000,
                    'week':           7 * 24 * 60 * 60 * 1000,
                    'month':     3 * 31 * 24 * 60 * 60 * 1000,
                    'year':     52 *  7 * 24 * 60 * 60 * 1000
                };
                
                var line = _.reduce(json.zones[0].series[0].candles, function(memo, candle) { return memo.push([l2u(candle.open_time), candle.value]), memo; }, []);
                var bar = _.reduce(json.zones[1].series[0].candles, function(memo, candle) { return memo.push([l2u(candle.open_time), candle.value]), memo; }, []);

                Highcharts.setOptions({
                    lang: {
                        decimalPoint: '.',
                        thousandsSep: ' ',
                        months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                        shortMonths: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                        weekdays: ['Воскресение', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота']
                    }
                });

                var chart = new Highcharts.StockChart({
                    

                    chart: {
                        renderTo: $('#chart_1')[0],
                        alignTicks: false,
                    },
                    
                    global: {
                        useUTC: true
                    },
                    
                    
                    credits: {
                        enabled: false
                    },

                    navigator: {
                        height: 30,
                        margin: 6
                    },

                    rangeSelector: {
                        enabled: false
                    },
                    
                    xAxis: {
                        offset: 0
                    },
                    
                    yAxis: [{
                        height: 180,
                        opposite: true,
                        lineWidth: 1,
                        
                        labels: {
                            formatter: function() {
                                return mx.utils.number_with_delimiter(this.value);
                            },
                            
                            style: { color: '#000' }
                        }
                        
                    }, {
                        top: 200,
                        height: 105,
                        opposite: true,
                        lineWidth: 1,

                        labels: {
                            formatter: function() {
                                return mx.utils.number_with_delimiter(this.value);
                            },
                            
                            style: { color: '#000' }
                        }
                    }],
                    
                    scrollbar: {
                        height: 10
                    },
                    
                    series: [{
                        yAxis: 0,
                        data: [],
                        type: 'line',
                        name: 'Цена',
                        tooltip: {
                            yDecimals: 2
                        }
                    }, {
                        yAxis: 1,
                        data: [],
                        type: 'column',
                        name: 'Объем'
                    }]
                    
                });

                var chart_loading = false;
                var old_interval = null;

                // buttons
                $('input[type=button].chart-period').on('click', function(event) {
                    if (chart_loading) return;

                    function set_extremes(key, min) {
                        var extreme = extremes[key];
                        
                        var till = + new Date();
                        var from = extreme ? till - extreme : 0;

                        from = from > min ? from : min;
                        
                        chart.xAxis[0].setExtremes(l2u(from), l2u(till), true, true);
                    }


                    var min = u2l(chart.xAxis[0].getExtremes().dataMin);
                    var key = $(event.currentTarget).data('key');
                    var interval = intervals[key];

                    if (old_interval == interval)
                        return set_extremes(key, min);
                    
                    chart_loading = true;
                    old_interval = interval;

                    var cds = mx.cs.data('stock', 'shares', 'GAZP', { interval: interval, from: '1970-01-01' });

                    cds.then(function(json) {
                        var l    = _.reduce(json.zones[0].series[0].candles, function(memo, candle) { return memo.push([l2u(candle.open_time), candle.value]), memo; }, []);
                        var b     = _.reduce(json.zones[1].series[0].candles, function(memo, candle) { return memo.push([l2u(candle.open_time), candle.value]), memo; }, []);

                        var min_date = _.min(l, function(i) {
                            return i[0];
                        })[0];

                        chart.series[0].setData(l);
                        chart.series[1].setData(b);
                        
                        set_extremes(key, min_date);
                        
                        chart_loading = false;
                    });


                });

            })
            */
            




        });
    
    </script>

<%- end -%>
