<%- content_for :right_content do -%>
    <div id="orderbook_1">
    </div>

    <div id="orderbook_2">
    </div>
<%- end -%>

<script type="text/javascript" charset="utf-8">
    
    jQuery(function() {
        
        mx.widgets.orderbook($('#orderbook_1'), 'stock', 'shares', 'GAZP', {
            refresh_timeout: 1000
        });

    });
    
</script>
