<%- content_for :right_content do -%>
    <div id="test_container">
    </div>
<%- end -%>

<script type="text/javascript" charset="utf-8">
    
    jQuery(function() {
        
        mx.widgets.orderbook($('#test_container'), 'stock', 'shares', 'AFLT');
        
    });
    
</script>
