<style type="text/css" media="screen">
	
	div {
		display: inline-block;
		margin: 20px;
		vertical-align: top;
	}
	
	iframe {
		border: none;
	}
	
</style>

<div>
	<h2>Валюты</h2>
	<iframe src="/widget?engine=currency&amp;market=selt&amp;params=CETS/USD000UTSTOM,CETS/USD000TODTOM,CETS/USD000000TOD,CETS/EUR000TODTOM,CETS/EUR_RUB__TOD,CETS/EUR_RUB__TOM&locale=ru"></iframe>	
</div>


<div>
	<h2>Индексы</h2>
	<iframe src="/widget?engine=stock&amp;market=index&amp;params=SNDX/MICEXCGS,SNDX/MICEXCHM,SNDX/MICEXFNL,SNDX/MICEXM%26M,SNDX/MICEXMNF,SNDX/MICEXO%26G,SNDX/MICEXPWR,SNDX/MICEXTLC" style="height: 200px;"></iframe>	
</div>

<div>
	<h2>Акции</h2>
	<iframe src="/widget?engine=stock&amp;market=shares&amp;params=EQNE/GAZP,EQBR/LKOH,EQNL/ROSN,EQBR/RTKM,EQBR/SBER03,EQNL/VTBR,EQBR/HYDR" style="height: 160px;"></iframe>	
</div>

