
<%- content_for :right_content do -%>

    <div class="table_container">
        <h2>Валюты</h2>
        <div id="currencies">
        </div>
        <div id="currencies_chart" class="chart_container">
        </div>
    </div>
    
    <div class="table_container">
        <h2>Индексы</h2>
        <div id="indices">
        </div>
        <div id="indices_chart" class="chart_container">
        </div>
    </div>

    <div class="table_container">
        <h2>Акции</h2>
        <div id="shares">
        </div>
    </div>

    <div class="table_container">
        <h2>Forts</h2>
        <div id="forts">
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        mx.widget.table('#currencies', 'currency', 'selt', [
            'CETS:USD000UTSTOM',
            'CETS:USD000TODTOM',
            'CETS:USD000000TOD',
            'CETS:EUR000TODTOM'
        ]);


        mx.widget.table('#indices', 'stock', 'index', [
    		'SNDX:MICEXCGS',
    		'SNDX:MICEXCHM',
    		'SNDX:MICEXFNL',
    		'SNDX:MICEXM&M',
    		'SNDX:MICEXMNF',
    		'SNDX:MICEXO&G',
    		'SNDX:MICEXPWR',
    		'SNDX:MICEXTLC'
        ]);

        mx.widget.table('#shares', 'stock', 'shares', [
    		'EQNE:GAZP',
    		'EQBR:LKOH',
    		'EQNL:ROSN',
    		'EQBR:RTKM',
    		'EQBR:SBER03',
    		'EQNL:VTBR',
    		'EQBR:HYDR'
        ]);

        mx.widget.table('#forts', 'futures', 'forts', [
    		'PSFU:RIZ1',
    		'PSFU:SRZ1',
    		'PSFU:GZZ',
    		'PSFU:LKOH18',
    		'PSFU:HYDR'
        ]);
        
        mx.widget.chart('#currencies_chart', 'currency', 'selt', 'EUR000TODTOM');
        mx.widget.chart('#indices_chart', 'stock', 'index', 'MICEXTLC');
    </script>

<%- end -%>
