<div id="main_indices">
</div>

<div id="main_shares">
</div>

<div id="main_turnovers">
</div>


<%- content_for :top_content do -%>

    <div id="ticker">
    </div>

<%- end -%>

<%- content_for :left_content do -%>

<%- end -%>


<%- content_for :right_content do -%>

    <h3>Капитализация: <span id="capitalization">&mdash;</span> Руб.</h3>

    <h3>Индексы</h3>

    <div id="index_1">
    </div>
    
    <div id="chart_1">
    </div>
    
    <hr />
    
    <div id="index_2">
    </div>
    
    <div id="index_3">
    </div>
    
    <h3>Курсы валют</h3>

    <div id="currency_1">
    </div>
    
    <h3>Фондовый рынок</h3>

    <div id="stock_1">
    </div>
    
    <h3>Standard</h3>

    <div id="stock_2">
    </div>
    
    <h3>Classica</h3>

    <div id="stock_3">
    </div>
    
    <h3>Срочный рынок</h3>
    
    <h4>Фондовая секция</h4>
    
    <div id="futures_1">
    </div>

    <h4>Товарная секция</h4>
    
    <div id="futures_2">
    </div>

    <h4>Денежная секция</h4>
    
    <div id="futures_3">
    </div>

    <h3>Объемы торгов</h3>

    <div id="turnovers">
    </div>

<%- end -%>

<%- content_for :javascripts do -%>

    <script type="text/javascript" charset="utf-8">
    
        $(function() {
        
    		function sortBy_SECTYPE(params, record) {
    			return params.indexOf(record['SECTYPE']);
    		}

            mx.widgets.ticker('#ticker', [
                'stock:index:SNDX:MICEXINDEXCF',
                'stock:index:RTSI:RTSI',
                'stock:shares:EQNE:GAZP',
                'stock:shares:EQBR:AFLT',
            	'stock:shares:EQBR:LKOH',
            	'stock:shares:EQNL:VTBR',
            	'stock:shares:EQBR:HYDR',
            	'stock:index:SNDX:MICEXO&G',
                'state:index:GNDX:RGBI'
            ], {
                speed: 25,
                toggleable: true,
                url: function(engine, market, board, security) {
                    return "<%= security_path %>#" + engine + ":" + market + ":" + board + ":" + security;
                }
            });
            
            mx.widgets.chart('#chart_1', 'stock', 'index', 'MICEXINDEXCF', {
                compare: 'stock:index:RTSI'
            });

            mx.widgets.table('#index_1', 'stock', 'index', [
                'SNDX:MICEXINDEXCF',
                'RTSI:RTSI'
            ], {
                cache: true
            });

            mx.widgets.table('#index_2', 'stock', 'index', [
                'SNDX:MICEXCBITR',
                'SNDX:MICEXMBITR',
                'SNDX:MICEXINNOV',
                'state:index:GNDX:RGBI'
            ], {
                chart: true,
                refresh_timeout: 5 * 1000,
                url: function(engine, market, board, security) {
                    return '#' + engine + ':' + market + ':' + board + ':' + security;
                },
                cache: true
            });


            mx.widgets.table('#currency_1', 'currency', 'selt', [
                'CETS:USD000UTSTOM',
                'CETS:EUR_RUB__TOM',
                'CETS:EURUSD000TOM',
                'BKT:USDEUR_BKT'
            ], {
            });


            mx.widgets.table('#stock_1', 'stock', 'shares', [
                'EQBR:SBER',
                'EQNE:GAZP',
                'EQBR:LKOH',
                'EQBS:GMNK',
                'EQNL:VTBR'
            ], {
                chart: 0,
                refresh_timeout: 5 * 1000
            });
            
            mx.widgets.table('#stock_2', 'stock', 'standard', [
                'STMR:SBER',
                'STMR:GAZP',
                'STMR:LKOH',
                'STMR:GMNK',
                'STMR:VTBR'
            ], {
                chart: 0,
                refresh_timeout: 5 * 1000
            });
            
            mx.widgets.table('#stock_3', 'stock', 'classica', [
                'CLMR:SBER',
                'CLMR:GAZP',
                'CLMR:LKOH',
                'CLMR:GMNK',
                'CLMR:VTBR'
            ], {
                chart: 0,
                refresh_timeout: 5 * 1000
            });
            
            mx.widgets.table('#futures_1', 'futures', 'forts', [
                'RFUD:RI',
                'RFUD:MX',
                'RFUD:VX',
                'RFUD:SR',
                'RFUD:GZ'
            ], {
                sortBy: sortBy_SECTYPE,
                params_name: 'sectypes',
                nearest: 1,
                chart: true
            });
            
            mx.widgets.table('#futures_2', 'futures', 'forts', [
                'RFUD:GD',
                'RFUD:BR',
                'RFUD:SV',
                'RFUD:CU',
                'RFUD:SA'
            ], {
                sortBy: sortBy_SECTYPE,
                params_name: 'sectypes',
                nearest: 1
            });


            mx.widgets.table('#futures_3', 'futures', 'forts', [
                'RFUD:Si',
                'RFUD:ED',
                'RFUD:Eu',
                'RFUD:O4',
                'RFUD:O2'
            ], {
                sortBy: sortBy_SECTYPE,
                params_name: 'sectypes',
                nearest: 1
            });


            mx.widgets.turnovers('#turnovers', {
                afterRefresh: function(time) {
                }
            });
            
            var amounts = {
                3:      'Тыс.',
                6:      'Млн.',
                9:      'Млрд.',
                12:     'Трлн.'
            };
            
            mx.iss.capitalization().then(function(value) {
                var digits      = Math.ceil(Math.log(value) / Math.LN10);
                var max_amount  = 0;

                for (amount in amounts) {
                    amount = parseInt(amount)
                    if (max_amount < amount && amount <= digits) {
                        max_amount = amount;
                    }
                }

                value = value / Math.pow(10, max_amount)
                
                $("#capitalization").html(mx.utils.render(value, { type: 'number', precision: 2 }) + ' ' + amounts[max_amount]);
            });
            
            mx.widgets.indices('#main_indices', {
                url: function(engine, market, board, security) {
                    return "<%= security_path %>#" + engine + ':' + market + ':' + board + ':' + security;
                },
                refresh_timeout: 60 * 1000
            });

            mx.widgets.shares('#main_shares', {
                url: function(engine, market, board, security) {
                    return "<%= security_path %>#" + engine + ':' + market + ':' + board + ':' + security;
                },
                refresh_timeout: 60 * 1000
            });

            mx.widgets.turnovers('#main_turnovers', {
                extend:             'stock',
                refresh_timeout:    60 * 1000
            });

        });
    
    </script>

<%- end -%>
