<div id="state_rates">
</div>


<script type="text/javascript" charset="utf-8">
    
    
    $(function() {
        
        mx.locale('<%= params['locale'] %>');
    
        mx.widgets.state_rates($('#state_rates'));
    
    })
    
    
</script>
