<div id="state_rates">
</div>

<div id="repo_rates">
</div>

<h4>Объемы торгов, руб</h4>

<div id="money_market_turnovers">
</div>

<script type="text/javascript" charset="utf-8">
    
    
    $(function() {
        
        mx.locale('<%= params['locale'] %>');
    
        mx.widgets.state_rates($('#state_rates'), { wrapper_class: 'greybox' });
        
        mx.widgets.repo_rates($('#repo_rates'));
    
        mx.widgets.money_market_turnovers($('#money_market_turnovers'));

    })
    
    
</script>
