<h2>RMS</h2>

<div id="rms"></div>

<script type="text/javascript">

    $(function(){
        mx.widgets.rms2('#rms', {
            url: function(engine, market, boardid, secid) {
                return "#" + [engine, market, boardid, secid].join(':')
            }
        });
    });

</script>