<h2>RMS</h2>

<div id="rms"></div>

<script type="text/javascript">

    mx.locale('<%= params['locale'] %>');

    $(function(){
        mx.widgets.rms2('#rms', {
            url: function(engine, market, boardid, secid) {
                return "/widgets/security#" + [engine, market, boardid, secid].join(':') }
//            , selected: {
//                board_groups: ['stock_shares_tplus', 'stock_ndm_tplus'],
//                listname:     ['I'] }
//            , filters:  { listname:
//                [   {
//                    value: 'I',
//                    title: { ru: 'I', en: 'I' }
//                },  {
//                    value: 'II',
//                    title: { ru: 'II', en: 'II' }
//                },  {
//                    value: 'III',
//                    title: { ru: 'III', en: 'III' }
//                }   ]
//            }
//              , filter_groups: {
//                    security_types: {
//                        group_1: ['common_share', 'depositary_receipt'],
//                        group_2: ['ofz_bond', 'subfederal_bond', 'cb_bond', 'corporate_bond', 'ifi_bond', 'exchange_bond', 'municipal_bond'],
//                        group_3: ['public_ppif', 'interval_ppif', 'private_ppif', 'etf_ppif', 'stock_mortgage']
//                    }
//              }
        });
    });

</script>