<div id="search">
</div>

<script type="text/javascript" charset="utf-8">

    $(document).ready(function() {
        mx.locale("<%= params[:locale] %>");
        mx.widgets.search("#search");
    });
    
    
</script>
