<%- content_for :top_content do -%>

    <div id="ticker">
    </div>

<%- end -%>

<script type="text/javascript" charset="utf-8">

    mx.widgets.vertical_ticker("#ticker", [
        'stock:index:SNDX:MICEXINDEXCF',
        'stock:index:RTSI:RTSI',

        'stock:index:SNDX:MICEXSC',

        'stock:shares:EQNE:GAZP',
        'stock:shares:EQBR:AFLT',
        'stock:shares:EQBR:LKOH',
        'stock:shares:EQNL:VTBR',
        'stock:shares:EQBR:HYDR',
        'stock:index:SNDX:MICEXO&G',
        'state:index:GNDX:RGBI'
    ], {
        flip_speed: 1000,
        url: function(engine, market, board, security) {
            return "<%= security_path %>#" + engine + ":" + market + ":" + board + ":" + security;
        }
    });

</script>