<%= javascript_include_tag "mx._widget" %>

<div id="test">
    
</div>

<script type="text/javascript" charset="utf-8">
    
    $(function() {
        
        mx._widget.chart('#test', 'stock:shares:EQBR:AFLT', {
        });
        
    });
    
</script>
