body {
	background: #f0f0e5;
	color: #252519;
	font-size: 16px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
	line-height: 24px;
}

div.container {
    margin: 50px 0 50px 50px;
	width: 720px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
}

h6 {
    margin-top: 10px;
    margin-bottom: 0;
}

p {
    width: 550px;
}

b.header {
    font-size: 18px;
}

code, pre, tt {
    color: #555555;
    font-size: 12px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    line-height: 18px;
}

code {
    margin-left: 20px;
}

pre {
    border-left: 6px solid #aaaa99;
    margin: 0 0 30px;
    padding: 2px 0 2px 12px;
}

.widget {
    
    table {
        
        background: #fff;
        border-collapse: collapse;
        border-spacing: 0;
        
        width: 400px;
        
        td {
     		padding: 5px;
    		vertical-align: bottom;
    		white-space: nowrap;
    	}

    	td.last {
    		padding-right: 5px;
    	}

    	td.number {
    		text-align: right;
    	}

    	td.time {
    		@extend td.number;
    		color: #888;
    		font-size: 10px;
    	}
    	
    }
    
    table.chart {
        
        tr {
            cursor: pointer;
        }
        
        tr:hover {
            
            td {
                background: #ccc;
            }
            
        }
        
    	tr.current td {
    	    background: #efe0e0;
    	}
        
        tr.chart {
            
            td {
                background: inherit;
                padding: 0;
            }
            
        }
        
    }
    
}