ul.mx-widget-digest {
    
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
        display: inline-block;
        margin: 0 40px 0 0;
        padding: 0;
        
        label {
            color: #666;
            margin-right: 5px;
        }
    }
    
    li.last {
        font-size: 200%;
        margin-right: 5px;
    }
    
    span.trend_up,
    span.trend_down,
    span.trend_none {
        font-size: 125%;
    }
    
    span.trend_up {
        color: #090;
    }
    
    span.trend_down {
        color: #c00;
    }
    
    span.trend_none {
        color: #666;
    }

}

table.mx-widget-emitter {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    th,
    td {
        border-bottom: 1px solid #ccc;
        padding: 5px;
        text-align: left;
        vertical-align: top;
    }
    
    th {
        padding-left: 0;
    }
    
    thead {
        td {
            border: none;
            font-weight: bold;
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    tbody {
        th {
            font-weight: normal;
        }
    }
}

table.mx-widget-emitter-securities {
    
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    
    th,
    td {
        font-weight: normal;
        padding: 5px;
        text-align: left;
        vertical-align: top;
    }
    
}

table.mx-widget-table,
table.mx-widget-turnovers {
    
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;
    
    td {
        padding: 5px;
    }
    
    tbody td {
        vertical-align: top;
        white-space: nowrap;
    }
    
    td.title {
        width: 100%;
    }
    
    td.time {
        color: #4d4d4d;
        text-align: right;
    }
    
    td.number {
        padding-left: 25px;
        text-align: right;
    }
    
    td.trend_up {
        color: #090;
    }
    
    td.trend_down {
        color: #c00;
    }
    
    td.trend_none {
        color: #666;
    }
    
    tr.current td {
        background-color: #fcc;
    }




    tr.current.drophover td,
    .drophover {
        background-color: #d1d3dd;
    }

    .loading {
        background-color: #e9eaed;
    }

    div.wrapper {
        padding:    0;
        position:   relative;
        overflow:   hidden;
        text-align: center;
        width:      100%;


        div.spinner_wrapper {
            position: absolute;
            height:   100%;
            width:    100%;
            top:      0;
            left:     0;

            div.spinner_background {
                background-color: #e9eaed;
                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
                -moz-opacity: 0.5;
                -khtml-opacity: 0.5;
                opacity: 0.5;
                margin:  0;
                padding: 0;
                height:  100%;
                width:   100%;
            }

            div.spinner {
                background: image-url('facebook-ajax-loader.gif') no-repeat center center;
                position:   absolute;
                top:    0;
                left:   0;
                width:  100%;
                height: 100%;
            }
        }

        div.toolbox {
            background-color: #fff;
            height: 16px;
            line-height: 16px;
            padding:  4px 28px 4px 8px;


            span.title {
                color: #86706e;
                font-weight: bold;
                padding: 0 8px 0 0;
            }

            span.desc {
                color: #666;
                font-weight: normal;
                padding: 0;
            }

            a {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIhSURBVDjLlZPrThNRFIWJicmJz6BWiYbIkYDEG0JbBiitDQgm0PuFXqSAtKXtpE2hNuoPTXwSnwtExd6w0pl2OtPlrphKLSXhx07OZM769qy19wwAGLhM1ddC184+d18QMzoq3lfsD3LZ7Y3XbE5DL6Atzuyilc5Ciyd7IHVfgNcDYTQ2tvDr5crn6uLSvX+Av2Lk36FFpSVENDe3OxDZu8apO5rROJDLo30+Nlvj5RnTlVNAKs1aCVFr7b4BPn6Cls21AWgEQlz2+Dl1h7IdA+i97A/geP65WhbmrnZZ0GIJpr6OqZqYAd5/gJpKox4Mg7pD2YoC2b0/54rJQuJZdm6Izcgma4TW1WZ0h+y8BfbyJMwBmSxkjw+VObNanp5h/adwGhaTXF4NWbLj9gEONyCmUZmd10pGgf1/vwcgOT3tUQE0DdicwIod2EmSbwsKE1P8QoDkcHPJ5YESjgBJkYQpIEZ2KEB51Y6y3ojvY+P8XEDN7uKS0w0ltA7QGCWHCxSWWpwyaCeLy0BkA7UXyyg8fIzDoWHeBaDN4tQdSvAVdU1Aok+nsNTipIEVnkywo/FHatVkBoIhnFisOBoZxcGtQd4B0GYJNZsDSiAEadUBCkstPtN3Avs2Msa+Dt9XfxoFSNYF/Bh9gP0bOqHLAm2WUF1YQskwrVFYPWkf3h1iXwbvqGfFPSGW9Eah8HSS9fuZDnS32f71m8KFY7xs/QZyu6TH2+2+FAAAAABJRU5ErkJggg==");
                display: block;
                height: 16px;
                width:  16px;
                overflow: hidden;
                position: absolute;
                text-indent: 9999px;
                top:     4px;
                right:   4px;
                padding: 0;
            }
        }
    }




    thead {
        
        td {
            background-color: #ccc;
            vertical-align: top;
        }
        
    }
    
}

.security-drag-helper {
    background-color: #e9eaed;
    border: 1px solid #369;
    color: #369;
    padding: 0.5em 2em;
    z-index: 9999;
}

.security-drag-helper * {
    color: #369;
    text-decoration: none;
}

table.chart {
    tr td {
        cursor: pointer;
    }
}


ul.mx-widget-chart-periods {
    background-color: #e7e7e7;
    font-size: .9em;
    
    margin: 20px 0 0;
    overflow: hidden;
    padding: 3px 5px 0;
    
    li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 2px 5px 6px;
        
        a {
            color: #235673;
        }
        
        a:hover {
            color: #992323;
        }
        
    }
    
    li.current {
        background-color: #fff;
        
        a {
            color: #000;
            cursor: text;
            text-decoration: none;
        }
    }
    
    position: relative;
    z-index: 2;
    
}

div.chart-container {
    margin-top: -1px;
    z-index: 1;
}
