ul.mx-widget-digest {
    
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
        display: inline-block;
        margin: 0 40px 0 0;
        padding: 0;
        
        label {
            color: #666;
            margin-right: 5px;
        }
    }
    
    li.last {
        font-size: 200%;
        margin-right: 5px;
    }
    
    span.trend_up,
    span.trend_down,
    span.trend_none {
        font-size: 125%;
    }
    
    span.trend_up {
        color: #090;
    }
    
    span.trend_down {
        color: #c00;
    }
    
    span.trend_none {
        color: #666;
    }

}