.mx-widget-vertical-ticker {
    background: #ccc;
    font-size: 11px;
    height: 3em;
    overflow: hidden;
    position: relative;

    ul {
        line-height: 1em;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;

        li {
            display: block;
            float: left;
            margin: 0;
            padding: 1em 0 0;
            white-space: nowrap;
        }

        li * {
            white-space: nowrap;
        }

        .last {
            color: #669;
            padding-left: 5px;
        }

        .change {
            color: #666;
            padding-left: 5px;
        }

        .trend_up {
            color: #060;
        }

        .trend_down {
            color: #900;
        }

    }

    ul.container {
        height: 0;
        margin: 0;
        left: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 0;
        width: 0;
    }

}

.mx-widget-vertical-ticker.loading {
    background-image: image-url('facebook-ajax-loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

.mx-widget-ticker {
     background: #ccc;
     font-size: 11px;
     height: 3em;
     overflow: hidden;
     position: relative;
     white-space: nowrap;

     ul {
         line-height: 1em;
         list-style: none;
         margin: 0;
         padding: 1em 0;
         position: absolute;

         li {
             display: inline;
             margin: 0 10px;
             padding: 0
         }

         .last {
             color: #669;
             padding-left: 5px;
         }

         .change {
             color: #666;
             padding-left: 5px;
         }

         .trend_up {
             color: #060;
         }

         .trend_down {
             color: #900;
         }

     }

}

.mx-widget-ticker.loading {
	background-image: image-url('facebook-ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.toggleable,
.toggleable * {
    cursor: pointer;
}

.mx-widget-turnovers,
.mx-widget-market-turnovers,
.mx-widget-repo-dealers,
.mx-widget-cb-transactions {
    border-collapse: collapse;
    border-spacing: 0;
    
    font-size: 11px;
    
    margin: 2em 0 0;
    width: 100%;

    thead {
        th {
            background-color: #f0f0f0;
            text-align: right;
            padding: 5px;
        }
        th.current {
            background-color: #e7e7e7;
        }
        th.previous {
            background-color: #e0e0e0;
        }
    }
    
    td {
        padding: 5px;
        white-space: nowrap;
    }
    
    td.title {
        width: 100%;
    }
    
    td.number {
        padding-left: 25px;
        text-align: right;
    }

    tr.alt {
        background-color: #ddd;

        td:first-of-type {
          padding-left: 2em;
        }
    }
    
    thead {
        
        td {
            background-color: #ccc;
            font-weight: bold;
        }
        
    }

}

.mx-widget-ranks {
    ul.securities {
        margin: 0.5em 0;
        padding: 0;
        li {
            font-size: 1em;
            width: 8%;
            color: #666;
            cursor: pointer;
            list-style: none;
            margin: 0 1%;
            padding: 0.5em 0;
            text-decoration: none;

            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            *display: inline;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            a {
                &:hover { color: #000; }

                &.active {
                    border-bottom: 2px solid #666;
                    color: #666;
                    font-weight: bold;

                    &:hover {
                        border-bottom: 2px solid #666;
                        color: #000;
                    }
                }

            }

            &.loading {
                background: image-url("facebook-ajax-loader.gif") no-repeat right center;
            }


        }
    }

    ul.controls {

        margin: 0;
        padding: 0;

        li {
            display: inline;
            list-style: none;
            margin: 0 1em 0.5em 0;
            padding: 0;

            a {
                border-bottom: 1px dashed #1e90ff;
                color: #1e90ff;
                cursor: pointer;
                padding-bottom: 1px;
                text-decoration: none;
            }
        }
    }

    ul.ranks-wrapper {

        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin:  0 1% 0.5em 0;
            padding: 0;
            width: 24%;

            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            *display: inline;
        }

    }

    .mx-widget-ranks-table {
        width: 100%;
        border:  1px solid #c6c6c6;
        border-collapse: collapse;
        font-family: "Helvetica Neue", Arial, sans-serif;

        border:  1px solid #c6c6c6;
        border-collapse: collapse;

        thead {
            th {

                background-color: #888;
                border: 1px solid #999;
                color: #fff;
                font-weight: normal;
                text-align: center;
            }
            td {
                border: 1px solid #999;
                text-align: center;
            }
        }

        tbody {
            th, td {
                border: 1px dotted #999;
            }
        }

        td, th {
            padding: 0.5em;
            text-align: right;
            overflow: hidden;
        }

        .threshold {
            background-color: #eee;
        }

        &.finished thead tr th {
            background-color: #1e90ff;
        }

    }

    .clear {
        clear: both;
    }
}

.mx-widget-ranks-archive {

    .datepicker {
        display:  block;
        float: left;
        position: relative;
        width: 130px;
        height: 40px;


        .datepicker-input {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-right: none;
            display: block;
            font-size: 12px;
            height: 16px;
            margin:  0;
            padding: 0 5px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            overflow: hidden;

            &:focus {
                outline: none;
            }
        }

        .ui-datepicker-trigger {
            background: #a8a8a8 image-url("widget-ranks-archive-iconset.gif") no-repeat left top;
            display: block;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            left: 111px;
            height: 18px;
            text-indent: -1000px;
            width: 19px;

            &:hover {
                background-color: #ccc;
            }
        }

        .datepicker-label {
            display: block;
            float: left;
            font-size: 10px;
            font-weight: normal;
            display: block;
            color: #ccc;
            padding: 0 6px;
            position: absolute;
            top: 20px;
            left: 0;
        }
    }

    .date-period-reset {
        display: block;
        float: left;
        line-height: 16px;
        padding: 0;
        margin: 0 20px 0 5px;
        white-space: nowrap;

        color: #ccc;
        border-bottom: none;
        cursor: default;

        &.active {
            color: #1e90ff;
            border-bottom: 1px #1e90ff dashed;
            cursor: pointer;
        }
    }

    .download-links {
        display: block;
        float: left;
        padding: 0;
        margin: 0;


        li {
            background-color: #a8a8a8;
            display: block;
            float: left;
            font-size: 10px;
            list-style: none;
            line-height: 18px;
            margin: 0 4px 0 0;
            padding: 0;

            a {
                display: block;
                color: #fff;
                height: 18px;
                margin:  0;
                padding: 0 10px;
                text-decoration: none;
                width: auto !important;
                width: 0;

                &:hover {
                    background-color: #ccc;
                }
            }

            &.csv {

                a.download {
                    border-right: 1px solid #888;
                    display: block;
                    float: left;
                }

                a.options {
                    background: image-url("widget-ranks-archive-iconset.gif") no-repeat left -18px;
                    border-left: 1px solid #ddd;
                    cursor: pointer;
                    display:block;
                    float: left;
                    height: 18px;
                    margin: 0;
                    overflow: hidden;
                    padding: 0;
                    text-indent: -1000px;
                    width: 18px !important;
                    width: 18px;

                    &:hover {
                        background-color: #ccc;
                    }

                    &.active {
                        background-color: #c0d0e0;
                        border-bottom: none;

                        &:hover {
                            background-color: #87ceeb;
                        }
                    }

                    &.disabled {
                        border-left: 1px solid #f5f5f5;
                        background-color: #f5f5f5;
                        cursor: default;
                        &:hover {
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }
    }

    #csv-options {
        fieldset {
            display: inline;
        }
        label {
            padding: 0 10px;
        }

        select {
            display: block;
            width:   140px;
            padding: 0;
            margin:  0 10px;
        }
    }

    .clear {
        clear: both;
    }
}


.mx-widget-otc {
    .otc-datepicker {

        display: inline-block;
        padding: 1em;
        min-width: 400px;

        ul.date-type-select {
            list-style: none;
            padding: 0;
            margin:  0;

            overflow: hidden;

            > li {
                margin:  0;
                padding: 0 0 1em;

                > input[type=radio] {
                    display: inline-block;
                    padding: 0;
                    vertical-align: top;
                }

                > div.controls-container {
                    margin:  0;
                    padding: 0 10px;
                    display: inline-block;

                    .date-title {
                        margin: 0;
                        padding: 2px 0 0.5em;
                    }
                }

                .input-date {
                    display:  inline-block;
                    position: relative;
                    vertical-align: middle;

                    height: 22px;
                    width: 130px;


                    input[type=text] {
                        background-color: #f5f5f5;
                        border: 1px solid #ccc;
                        border-right: none;
                        display: block;
                        font-size: 12px;
                        height: 16px;
                        margin:  0;
                        padding: 0 5px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100px;
                        overflow: hidden;

                        &:focus {
                            background-color: #fff;
                            border: 1px solid #c0d0e0;
                            outline: none;
                        }
                    }

                    .ui-datepicker-trigger {
                        background: #a8a8a8 image-url("widget-ranks-archive-iconset.gif") no-repeat left top;
                        display: block;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        top: 0;
                        left: 111px;
                        height: 18px;
                        text-indent: -1000px;
                        width: 19px;

                        &:hover {
                            background-color: #ccc;
                        }
                    }

                }

                ul.securities-list {
                    border: 1px solid #ccc;
                    max-height: 150px;
                    list-style: none;
                    margin:  0;
                    overflow-y: scroll;
                    padding: 0;

                    > li {
                        margin:  0;
                        padding: 5px;

                        &:hover, &.odd:hover {
                            background-color: #87ceeb;
                        }

                        &.odd {
                            background-color: #fafafa;
                        }

                        p.short-name {
                            font-size: 1.1em;
                            font-weight: bold;
                            color: #666;
                            margin: 0;
                            padding: 0 0 0.5em;
                        }
                        p.full-name {
                            margin: 0;
                            padding: 0 0 0.5em;
                        }
                    }
                }
            }
        }

        .submit {
            padding: 10px;
            padding-left: 30px;
        }

        &.loading {
            .submit {
                background: image-url("facebook-ajax-loader.gif") no-repeat 10px center;
            }
        }

    }

    .otc-amount {
        padding: 1em;
        display: inline-block;
        vertical-align: top;
    }
}


.ui-datepicker {

    display: none;

    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    width: 190px;


    .ui-datepicker-header {

        background-color: #888;
        border: 1px solid #c6c6c6;
        border-bottom: none;
        color:   #fff;
        margin:  0;
        padding: 0;

        .ui-datepicker-prev, .ui-datepicker-next {
            background-color: #999;
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #aaa;
                color: #fff;
            }
        }

        .ui-datepicker-prev { float: left; }
        .ui-datepicker-next { float: right;}

        .ui-datepicker-title {
            padding: 5px;
            text-align: center;
        }

    }

    table.ui-datepicker-calendar {

        border: 1px solid #c6c6c6;
        width: 100%;
        border-collapse: collapse;

        thead {

            background-color: #888;
            color: #fff;
            text-transform: uppercase;

            th {

                border: 1px solid #c6c6c6;
                font-weight: normal;
                padding: 5px 0;
                text-align: center;

                &.ui-datepicker-week-end {
                    color: #fff;
                }
            }

        }

        tbody {

            td {

                border: 1px dotted #aaa;
                background-color: #fff;
                padding: 4px 0;

                text-align: center;
                cursor: pointer;

                a {
                    color: #262626;
                    text-decoration: none;
                }

                &:hover {
                    background-color: #f5f5f5;
                }

                &.ui-datepicker-other-month {
                    &:hover {
                        background-color: #fff;
                    }
                }

                &.ui-datepicker-week-end {
                    a {
                        color: #ff0000;
                    }
                }

                &.ui-datepicker-current-day {
                    background-color: #c0d0e0;
                }

                &.ui-datepicker-today {

                }

                &.ui-datepicker-unselectable {
                    color: #f5f5f5;
                    &:hover {
                        background-color: #fff;
                    }
                }

            }

        }
    }

}

// IE6 IFRAME FIX (taken from datepicker 1.5.3
.ui-datepicker-cover {
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px;
}


// Search Widget 'mx-widget-search'
.mx-widget-search {
    width: 100%;
    margin:  0;
    padding: 0;

    .search-field-wrapper {
        display: block;
        border: 1px solid #ccc;
        margin:  0;
        padding: 5px 30px 5px 10px;
        position: relative;

        .search-field {
            border:  none;
            marign:  0;
            padding: 0;
            width: 100%;
            height: 20px;

            &:focus {
                outline-width: 0;
            }

        }

        .icon-clear {
            display: block;
            position: absolute;
            top: 5px;
            right: 10px;
            width: 20px;
            height: 20px;

            background-color: #ccc;
        }

        &.loading  {
            background: image-url("facebook-ajax-loader.gif") no-repeat left center;
        }
    }
}

.mx-widget-rms {
    .table-container {
        &.loading {
            color: #eee;
            height: 50px;
            background: image-url("facebook-ajax-loader.gif") no-repeat left center;
        }
    }
}

.mx-widget-rms2 {
    width: 977px;

    .rms-filters-container {
        border: 1px solid #ccc;
        margin:  0 0 2em 0;
        padding: 0 0 .5em 1em;
        overflow: hidden;

        .rms-filters-title {
            margin:  0;
            padding: 1em 0 1em 2em;
        }

        .rms-filter {
            display: inline-block;
            width: 33.33%;
            float: left;

            margin:  0 0 1em 0;
            padding: 0;

            &.listname,
            &.search,
            &.button {
                clear: left;
            }

            &.button {
                width: 33.33%;
            }

            &.search {
                width: 100%;
                .label {
                    display: inline-block;
                }

                input {
                    display: inline-block;
                    font-size: 1em;
                    margin: .5em;
                }

                .warning {
                    display: inline-block;
                    color: #C8102E;
                    font-style: italic;
                    font-size: .8em;
                }
            }

            .apply-filters-btn {
                display: block;
                font-weight: bold;
                text-transform: uppercase;
                color: #369;
                border: 2px solid #369;
                margin:  1em 1em .25em 0;
                padding: .5em 1em;
                cursor: pointer;
                text-align: center;
                width: 33.33%;
                &:hover {
                    background-color: #fafafa;
                }
            }

            .rms-filter-title {
                border-bottom: 2px solid #ccc;
                font-size: 1em;
                margin:  0 1.5em .25em 0;
                padding: 0 0 .25em 1.5em;

                .rms-filter-ctrl-wrapper {
                    line-height: 18px;
                    font-size: 9px;
                    float: right;
                    .rms-filter-ctrl {
                        color:  #369;
                        cursor: pointer;
                        text-transform: lowercase;
                        margin: 0 .5em;

                        &:hover {
                            color: #C8102E;
                            text-decoration: underline;
                        }
                    }
                }


            }

            ul.select-list {
                margin:  0 1.5em 0 0;
                padding: 0;
                list-style: none;

                li.select-list-separator {
                    display: block;
                    height:  4px;
                }

                li.select-list-item {
                    position: relative;
                    margin:  0;
                    padding: 0;
                    padding-left: 1.5em;
                    color: #969696;
                    cursor: pointer;

                    &:hover {
                        background-color: #fafafa;
                    }
                    &.selected {
                        color: #369;

                        &:after {
                            border-color: #369
                        }

                        &:before {
                            position: absolute;
                            display: block;
                            content: "";
                            top:  4px;
                            left: 4px;
                            width:  6px;
                            height: 6px;
                            background-color: #369;
                            border-radius: 3px;
                        }
                    }

                    &:after {
                        position: absolute;
                        display: block;
                        content: "";
                        top:  2px;
                        left: 2px;
                        width:  8px;
                        height: 8px;
                        border: 1px solid #969696;
                        border-radius: 8px;
                    }
                }

                &.multiple {
                     li.select-list-item {
                         &:after, &:before {
                             border-radius: 0;
                         }
                     }
                }
            }
        }
    }

    .mx-widget-table {
        .sortable {
            color: #369;
            cursor: pointer;
            padding-bottom: 2em;
            text-decoration: none;
            &:hover {
                color: #C8102E;
                text-decoration: underline;
            }

            &.current {
                font-weight: bold;
            }

            &.asc,
            &.desc {
                position: relative;
            }
            &.asc:after,
            &.desc:after {
                position: absolute;
                display: block;
                content: "";
                width: 0px;
                height: 0px;
                border-style: solid;
                bottom: .5em;
            }
            &.asc:after {
                border-width: .75em .5em 0 .5em;
                border-color: #369 transparent transparent transparent;
            }
            &.desc:after {
                border-width: 0 .5em .75em .5em;
                border-color: transparent transparent #369 transparent;
            }

            &.string {
                &.asc:after,
                &.desc:after {
                    left: .5em;
                }
            }

            &.number,
            &.date {
                &.asc:after,
                &.desc:after {
                    right: .5em;
                }
            }
        }
    }

    .rms-data-container {
        .mx-widget-table {
            border: 1px solid #ccc;

            .even {
                background-color: #fafafa;
            }

            td.date {
                text-align: right;
            }
        }
    }

    .rms-filters-container,
    .rms-data-container {
        &.loading {
            border: none;
            width: 100%;
            height: 40px;
            background: image-url("facebook-ajax-loader.gif") no-repeat center top;
        }
    }

    .rms-data-paginator {
        .rms-paginator-pagelist {
            margin:  1em 1em;
            padding: 0;
            overflow: hidden;

            .rms-paginator-page {
                border: 1px #369 solid;
                color: #369;
                cursor: pointer;
                display: inline-block;
                float: left;
                list-style: none;
                margin:  0.5em .5em 0 0;
                min-width: 1.5em;
                padding: .5em;
                text-align: center;

                &.current,
                &.current:hover {
                    background-color: #369;
                    color: #fff;
                }

                &:hover {
                    background-color: #fafafa;
                }
            }

            .rms-paginator-total {
                white-space: nowrap;
                color:  #999;
                display: inline-block;
                margin:  0.5em .5em 0 0;
                min-width: 1.5em;
                padding: .5em;
            }
        }
    }

}
