.mx-widget-ticker {
    background: #ccc;
    font-size: 11px;
    height: 3em;
    overflow: hidden;
    position: relative;
    
    .toggleable * {
        cursor: pointer;
    }
    
    div.tick {
        line-height: 1em;
        padding: 1em 10px;
        position: absolute;
        white-space: nowrap;
        
        .last {
            color: #669;
            padding-left: 5px;
        }

        .change {
            color: #666;
            padding-left: 5px;
        }
        
        .trend_up {
            color: #060;
        }

        .trend_down {
            color: #900;
        }

    }
    
}

.toggleable {
    cursor: pointer;
}

.mx-widget-turnovers {
    border-collapse: collapse;
    border-spacing: 0;
    
    font-size: 11px;
    
    margin: 2em 0 0;
    width: 100%;
    
    td {
        padding: 5px;
        white-space: nowrap;
    }
    
    td.title {
        width: 100%;
    }
    
    td.number {
        padding-left: 25px;
        text-align: right;
    }
    
    thead {
        
        td {
            background-color: #ccc;
            font-weight: bold;
        }
        
    }

}